.curtainTitle {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 60px;
}

.curtain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.curtain_wrapper {
    width: 100%;
    height: 100%;
}

input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
}

/* If checkbox is checked, slide panels in */
input[type=checkbox]:checked ~ div.curtain_panel_left {
    transform: translateX(0);
}

input[type=checkbox]:checked ~ div.curtain_panel_right {
    transform: translateX(0);
}

.curtain_panel {
    background: #ff92a2;
    width: 50%;
    height: 100vh;
    float: left;
    position: relative; /* Needed to define the z-index */
    z-index: 2;
    transition: all 1s ease-out; /* Animates sliding transition */

    display: flex;
    align-items: center;
}

/* Default position of panels with unchecked checkbox */
.curtain_panel_left {
    transform: translateX(-100%);
    justify-content: flex-end;
}

.curtain_panel_right {
    transform: translateX(100%);
    justify-content: flex-start;
}

.toDoList {
    width: 100%;
    height: 100%;
    background-color:#333;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBox {
    width: 100%;
    height: 80%;
    background-color: #b5fffd;
    border-radius: 10px;
    font-size: 40px;
    padding: 0;
}

.container-header {
    width: 100%;
    height: 15%;
    background-color: #33adff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.newItem {
    margin: 10px;
    width: auto;
}

li {
    list-style: none;
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item-icon {
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.visibility {
    opacity: 0.5;
}

/* button {
    float: right;
    background: none;
    border: none;
} */